Repository syneki/nx-docker-builder: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-12, build-14, build-15

.gitlab-ci.yml:

include:
  - template: "Workflows/MergeRequest-Pipelines.gitlab-ci.yml"

.docker-build:
  # Use the official docker image.
  image: docker:20.10.6
  stage: build
  services:
    - docker:20.10.6-dind
  variables:
    DOCKER_BUILDKIT: 1
    GH_IMAGE: ghcr.io/gperdomor/nx-docker
    DH_IMAGE: gperdomor/nx-docker
  before_script:
    - echo $GH_PAT | docker login ghcr.io --username $GH_OWNER --password-stdin
    - echo $DH_PAT | docker login --username $DH_OWNER --password-stdin
  script:
    - eval "$(./tools/scripts/semver-parser.sh $NODE_VERSION)"
    - docker build --pull -f node/${MAYOR}/Dockerfile
      --label org.opencontainers.image.title=nx-docker
      --label org.opencontainers.image.description="Builder companion for @nx-tools/nx-docker npm package"
      --label org.opencontainers.image.url=https://github.com/gperdomor/nx-docker-builder
      --label org.opencontainers.image.source=https://github.com/gperdomor/nx-docker-builder
      --label org.opencontainers.image.version=${NODE_VERSION}
      --label org.opencontainers.image.created=$(date +'%Y-%m-%dT%T')
      --label org.opencontainers.image.revision=${CI_COMMIT_SHA}
      --label org.opencontainers.image.licenses=MIT
      -t ${GH_IMAGE}:${MAYOR}.${MINOR}.${PATCH}
      -t ${GH_IMAGE}:${MAYOR}.${MINOR}
      -t ${GH_IMAGE}:${MAYOR}
      -t ${DH_IMAGE}:${MAYOR}.${MINOR}.${PATCH}
      -t ${DH_IMAGE}:${MAYOR}.${MINOR}
      -t ${DH_IMAGE}:${MAYOR}
      .
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker image push --all-tags ${GH_IMAGE}
        docker image push --all-tags ${DH_IMAGE}
      else
        echo "Done"
      fi

build-12:
  extends: [.docker-build]
  variables:
    NODE_VERSION: 12.22.1
  rules:
    - changes:
        - node/12/Dockerfile

build-14:
  extends: [.docker-build]
  variables:
    NODE_VERSION: 14.16.1
  rules:
    - changes:
        - node/14/Dockerfile

build-15:
  extends: [.docker-build]
  variables:
    NODE_VERSION: 15.14.0
  rules:
    - changes:
        - node/15/Dockerfile

.gitlab/node-16.yml:

build-15:
  extends: [.docker-build]
  parallel:
    matrix:
      - NODE_VERSION: [16.0.0]
  rules:
    - changes:
        - .gitlab/node-15.yml

ci: change build to matrix to force old version build
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  .gitlab/node-16.yml
  CODEOWNERS
  Dockerfile
  README.md
  node/14/Dockerfile
  node/15/Dockerfile
Due: build-14, build-15

back to latest version build
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  .gitlab/node-16.yml
Due: build-15

ci: add helm support
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  Dockerfile
  Dockerfile.helm
Due: build-15

ci: add support for node 16.0.0
  .gitlab-ci.yml
  .gitlab/node-16.yml
  README.md
Due: none

ci: update
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  .gitlab/node-16.yml
Due: build-15

chore: reorganization and tweaks (#2)
  .github/actions/fetch-tags/action.yml
  .github/actions/fetch-tags/main.js
  .github/workflows/build.yml
  .gitignore
  .gitlab-ci.yml
  .gitlab/node-12.yml
  .gitlab/node-14.yml
  .gitlab/node-15.yml
  .gitlab/node-16.yml
  .nvmrc
  .prettierrc
  Dockerfile.helm
  LICENSE
  README.md
  docker/Dockerfile
  docker/docker-entrypoint.sh
  docker/modprobe.sh
  package-lock.json
  package.json
  tools/scripts/semver-parser.sh
Due: build-15

ci: fix docker push (#3)
  .github/workflows/build.yml
Due: none

ci: fix for empty matrix (#5)
  .github/actions/fetch-tags/action.yml
  .github/actions/fetch-tags/main.js
  .github/workflows/build.yml
Due: none

ci: change cron frequency to friday
  .github/workflows/build.yml
Due: none

chore: bump docker version
  docker/Dockerfile
Due: none

chore: added dependabot
  .github/workflows/dependabot.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none
